src/modules/returns/xml-returns-schema.xsd

<xsd:schema xmlns="http://www.environment-agency.gov.uk/XMLSchemas/GOR/SAPMultiReturn/06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.environment-agency.gov.uk/XMLSchemas/GOR/SAPMultiReturn/06" targetNamespace="http://www.environment-agency.gov.uk/XMLSchemas/GOR/SAPMultiReturn/06" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.0" id="GOR-WR">
<xsd:annotation>
<xsd:appinfo>
<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
<Creator>Environment Agency, CIS, BAAS, GOR Project</Creator>
<Date>
<Created>2008-12-20</Created>
</Date>
<Description>
This schema is used to supply Streamline Abstraction Processing returns to the Environment Agency
</Description>
<Identifier>
{http://www.environment-agency.gov.uk/XMLSchemas/GOR/SAPMultiReturn/06}GOR-WR
</Identifier>
<Title>
Environment Agency Streamline Abstraction Processing Return Schema
</Title>
</Metadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:element name="FileUpload">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Source">
<xsd:annotation>
<xsd:documentation>
How the return was generated. EAWRSS means the supplied Agency spreadsheet tool. CUSTOM means that the customer has used their own mechanism.
</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="EAWRSS"/>
<xsd:enumeration value="CUSTOM"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Permit" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>
This element contains the structure of a collection of returns related to a single Water Abstraction license. A file upload may contain returns for one or more licenses.
</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IrPermitNo">
<xsd:annotation>
<xsd:documentation>Integrated Regulation permit number.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactTitle" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Return query contact title or salutation.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactForename">
<xsd:annotation>
<xsd:documentation>Return query contact forename.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="tns:MandatoryStringType">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactSurname">
<xsd:annotation>
<xsd:documentation>Return query contact surname.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="tns:MandatoryStringType">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactTelephone">
<xsd:annotation>
<xsd:documentation>Return query contact telephone.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="tns:MandatoryStringType">
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactEmail">
<xsd:annotation>
<xsd:documentation>Return query contact email.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="tns:EmailFieldType">
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Return" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>
This repeating element contains the structure of a Water Abstraction return.
</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ReturnRequirementId">
<xsd:annotation>
<xsd:documentation>Return requirement ID.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:int">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ReturnReportingPeriodStartDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation>Return reporting period start date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReturnReportingPeriodEndDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation>Report reporting period end date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GorPart">
<xsd:annotation>
<xsd:documentation>
This element allows for the partitioning of returns data. Currently, all returns have only one part.
</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:choice>
<xsd:element name="NilReturnStructure">
<xsd:annotation>
<xsd:documentation>
This element represents a nil return. It may either contain an empty return line structure or contain return lines of zero volume. If this structure does contain return lines, they will be ignored.
</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IsNilReturn" fixed="yes">
<xsd:annotation>
<xsd:documentation>Nil return?</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="MandatoryStringType">
<xsd:whiteSpace value="replace"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:choice minOccurs="0">
<xsd:element name="DailyTotal">
<xsd:annotation>
<xsd:documentation>Total type daily.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DailyReturnLine" type="SapReturnLineStructure" minOccurs="365" maxOccurs="366"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WeeklyTotal">
<xsd:annotation>
<xsd:documentation>Total type weekly.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WeeklyReturnLine" type="SapReturnLineStructure" minOccurs="52" maxOccurs="53"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MonthlyTotal">
<xsd:annotation>
<xsd:documentation>Total type monthly.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MonthlyReturnLine" type="SapReturnLineStructure" minOccurs="12" maxOccurs="12"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FullReturnStructure">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IsNilReturn" fixed="no">
<xsd:annotation>
<xsd:documentation>Nil return?</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="MandatoryStringType">
<xsd:whiteSpace value="replace"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MeterUsage" type="MeterUsageStructure"/>
<xsd:choice>
<xsd:element name="DailyTotal">
<xsd:annotation>
<xsd:documentation>Total type daily.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DailyReturnLine" type="SapReturnLineStructure" minOccurs="365" maxOccurs="366"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WeeklyTotal">
<xsd:annotation>
<xsd:documentation>Total type weekly.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WeeklyReturnLine" type="SapReturnLineStructure" minOccurs="52" maxOccurs="53"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MonthlyTotal">
<xsd:annotation>
<xsd:documentation>Total type monthly.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MonthlyReturnLine" type="SapReturnLineStructure" minOccurs="12" maxOccurs="12"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:element name="InputAbstractionAmountType" fixed="AbstractionVolumes">
<xsd:annotation>
<xsd:documentation>
The water abstraction data must submitted as actual abstraction volumes rather than meter readings.
</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="MandatoryStringType">
<xsd:whiteSpace value="replace"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="UnitOfMeasurement" fixed="CubicMetres">
<xsd:annotation>
<xsd:documentation>The unit of measurement must be Cubic Metres.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="replace"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="StartMeterDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>
Start meter reading date. Must be on or before the first non zero abstraction total, but not before the start of the return reporting period.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="StartMeterReading" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Start meter reading value.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="EndMeterDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>
Date of end meter reading. Must be on or after the last non zero abstraction total, but not after the end of the return reporting period.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EndMeterReading" minOccurs="0">
<xsd:annotation>
<xsd:documentation>End meter reading value.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="ID" fixed="1">
<xsd:annotation>
<xsd:documentation>The ID of the return part.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DeclarationAccepted" type="YesnoFieldType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SapReturnLineStructure">
<xsd:sequence>
<xsd:element name="Date" type="xsd:date">
<xsd:annotation>
<xsd:documentation>Return line date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="AbstractedVolume">
<xsd:annotation>
<xsd:documentation>Return line abstracted volume.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="20"/>
<xsd:fractionDigits value="3"/>
<xsd:minInclusive value="0"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="EstimatedIndicator" type="tns:YesnoFieldType">
<xsd:annotation>
<xsd:documentation>Return line estimated indicator.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MeterUsageStructure">
<xsd:annotation>
<xsd:documentation>
A group of elements related to whether a water meter was used in the collection of abstraction data.
</xsd:documentation>
</xsd:annotation>
<xsd:choice>
<xsd:sequence>
<xsd:element name="EaListedManufacturer">
<xsd:annotation>
<xsd:documentation>EA listed manufacturer.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="MandatoryStringType">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ManufacturerOther" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Other manufacturer.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SerialNumber">
<xsd:annotation>
<xsd:documentation>Serial number.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="MandatoryStringType">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
<xsd:sequence>
<xsd:element name="NonMeterAssessmentMethod">
<xsd:annotation>
<xsd:documentation>Non meter assessment method.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="MandatoryStringType">
<xsd:maxLength value="70"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:choice>
<xsd:attribute name="WasMeterUsed" type="YesnoFieldType" use="required">
<xsd:annotation>
<xsd:documentation>Was a meter used or not?</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:simpleType name="EmailFieldType">
<xsd:restriction base="xsd:string">
<xsd:pattern value="([a-zA-Z0-9_\.\-])+@((([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,})+|(\[([0-2]?[0-9]{0,2}\.){3}[0-2]?[0-9]{0,2}\]))"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="YesnoFieldType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="MandatoryStringType">
<xsd:restriction base="xsd:string">
<xsd:pattern value=".*\S+.*"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
